/*
  ========================================
  About us
  ========================================
*/


body {
  background-color: green;
   background: #cbe2c1;
   font-family: "Roboto Condensed", Times, serif;
}
.col-sm-3 img{
  padding-top: 20px;
  height:200px;
}
#about h1{
  color:green;
}

/*
  ========================================
  Contact us
  ========================================
*/

#contact_form h1{
  color:green;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  background: black;
  color: #648880;
  margin: auto;
  width: 600px;
  font-size: 14px;
  /*padding-bottom: 44px;*/
  padding-top: 20px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}
